body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777;
background-color: #777;
width: 960px;
font-size: 18px;
}
header, nav, section, aside, footer {
background-color: #ebebeb;
}
header{
margin-bottom: 5px;
margin-left: 200px;
margin-right:-80px;
margin-top:2px;
height:70px;
text-align:center;
}
nav {
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right:-80px;
  margin-top:2px;
  height:70px;
  text-align:center;
}
section{
  margin-left: 200px;
  margin-bottom:20px;
  width:40%;
  height:169px;
  text-align:center;
  float:left;
}
article{
  color: #ebebeb;
  background-color: #777;
  width:402px;
  margin-left:7px;
  margin-bottom:5px;
  margin-top: 2px;
  height:140px;
}
h1, p {
  color: #777;
background-color: #ebebeb;
margin-left:7px;
margin-right:7px;
margin-bottom:2.5px;
height:37px;
}
#main{
  width:108.5%;
}
aside{
  height:169px;
  width:40%;
  float:right;
  text-align:center;
}
footer{
    margin-left: 200px;
    margin-right:-80px;
    height:100px;
    text-align:center;
    clear:both;
}
